
<div class="row text-center">
  <h1 class="map-header">Boston Public Art Spots Map</h1>
</div>

<div id="spots-map"></div>

<script>
let map, infowindow;

let model = {
  spots: []
}

let control = {

  init: function(){
    control.fetchSpots();
  },
  fetchSpots: function(){

    fetch('/api/v1/spots.json')
      .then(response => {
        if (response.ok) {;
          return response;
        } else {
          let errorMessage = `${response.status} (${response.statusText})`,
              error = new Error(errorMessage);
          throw(error);
        }
      })
      .then(response => response.json())
      .then(data => {

        let spots = model.spots;
        data.forEach((spot) => {
          if (spot.location_lat.length > 0 && spot.location_lng.length > 0){
            spots.push({
                name: spot.name,
                address: spot.location,
                position: {lat: parseFloat(spot.location_lat), lng: parseFloat(spot.location_lng)}
            });
          }
        })

      })
      .then( () => {
        initMap();
      })
      .catch(error => console.error(`Error in fetch: ${error.message}`));

  },
  initInfoWindow: function(){
    let spots = model.spots,
        windowContent = '',
        directionsLink = 'https://www.google.com/maps/dir/Current+Location/';

        infowindow = new google.maps.InfoWindow();

    spots.forEach(function(spot){
      let marker = spot.marker,
          lat = spot.position.lat,
          lng = spot.position.lng,
          position = lat + ',' + lng,
          name = spot.name;

        marker.addListener('click',function(){
            windowContent = "<div id='map-infowindow'><h5>"+name+"</h5>"+
            "<a href='"+directionsLink + position +"' target='_blank'>Directions</a>"+
            "</div>";
            setInfoWindowContent(this);
        })
    });
    function setInfoWindowContent(input){
        infowindow.setContent(windowContent);
        infowindow.open(map,input);
    }
  }
}

function initMap(){

  let mapOptions = {mapTypeControl: false},
      mapBounds = new google.maps.LatLngBounds(),
      spots = model.spots;
  map = new google.maps.Map(document.getElementById('spots-map'), mapOptions);

  spots.map(function(el,i){
      let marker = new google.maps.Marker({
          map: map,
          position: el.position,
          animation: google.maps.Animation.DROP,
          icon: 'https://www.google.com/mapfiles/marker.png'
      });
      el.marker = marker;
      mapBounds.extend(el.position);
  });
  control.initInfoWindow();
  map.fitBounds(mapBounds);
}

control.init();

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASya2rxJ2koyx9Btw--HV9_qLA2zYS9G8"
    async defer></script>