@import 'variables';

body {
  background-color: $color-body-background;
}

.top-bar {
  h1 {
    font-style: italic;
  }
  img {
    height: 42px;
  }
  .sign-out {
    background-color: $color-body-background;
  }
}

.site-mission {
  color: $color-secondary;
  text-shadow: 1px 1px $white;
  margin: 0 0 15px;
  font-family: $font-primary;
}
