@import 'variables';

body {
  background-color: $color-body-background;
}

.top-bar {
  h1 {
    font-style: italic;
  }
  img {
    height: 42px;
  }
  .sign-out {
    background-color: $color-body-background;
  }
}
