@import 'variables';

body {
  background-color: $color-body-background;
}

input[type="text"] {
  color: #1D8A99;
  border: 0px;
  font-size: 1em;
  font-family: "poppins";
  font-weight: 300;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1)
}

p {
  font-family: "poppins";
  font-weight: 300;
  font-size: .9em;
}
.top-bar-section ul li a {
  font-family: "poppins";
  font-weight: 300;
  background-color: #0BC9CD !important;
  font-size: .9em;
}
.top-bar-section:hover ul:hover li:hover a:hover {
  font-family: "poppins";
  font-weight: 300;
  background-color: #1D8A99 !important;
}
.arts {
  color: #7C77B9;
  font-size: 1em !important;
}
.top-bar {
  background-color: #0BC9CD;
  h1 {
    font-style: italic;
  }
  img {
    height: 42px;
  }
  .sign-out {
    background-color: $color-body-background;
  }
}

.site-mission {
  color: $color-secondary;
  text-shadow: 1px 1px $white;
  margin: 0 0 15px;
  font-family: $font-primary;
}
.flash.panel.callout {
  background-color: $color-secondary;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.33em;
  font-family: "oswald";
  font-weight: 300;
}
.header-logo {
  font-size: 1.5em;
  font-family: "oswald";
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 10px;
  .arts {
    color: #7C77B9;
    font-size: 1em !important;
  }
}
