@import 'variables';

body {
  background-color: $color-body-background;
}

h1,h2,h3,h4,h5 {
  font-family: $font-primary;
}

.top-bar-section ul li a {
  background-color: #0BC9CD !important;
  font-size: .9em;
}

.top-bar {
  background-color: #0BC9CD;
  h1 {
    font-style: italic;
  }
  img {
    height: 42px;
  }
  .sign-out {
    background-color: $color-body-background;
  }
}

.site-mission {
  color: $color-secondary;
  text-shadow: 1px 1px $white;
  margin: 0 0 15px;
  font-family: $font-primary;
}
.flash.panel.callout {
  background-color: $color-secondary;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.33em;
  font-family: "oswald";
  font-weight: 300;
}
.header-logo {
  font-size: 1.5em;
  font-family: "oswald";
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 10px;
  .arts {
    color: #7C77B9;
    font-size: 1em !important;
  }
}