@import 'variables';

// Spot Tiles:
.spot-container {
  a {
    &:hover {
      color: gray;
    }
    color: black;
  }
  .spot-tile {
    padding: 8px;
    border: 4px solid gray;
    display: block;
    border-radius: 10px;
    margin: 0 0 25px 0;
    height: 400px;
    background-color: #c0fefe;
    font-family: helvetica, 'sans serif';
    overflow: hidden;

    .title {
      font-weight: 700;
      font-style: italic;
      font-size: 1.2em;
      text-align: center;
    }
    .photo {
      width: 100%;
      max-height: 180px;
      overflow: hidden;
    }
    &:hover {
      border-color: #c4c4c4;
    }
  } //end:tile
} //end:spot-container

.center-columns-container {
  margin: 0 auto;
}
