// Spot Tiles:
.spot-container {
  a {
    &:hover {
      color: gray;
    }
    color: black;
  }
  .spot-tile {
    // margin: 20px;
    // padding: 8px 30px;
    padding: 8px;
    border: 4px solid gray;
    display: block;
    border-radius: 10px;
    margin: 0 0 25px 0;
    height: 400px;
    // width: 280px;
    background-color: #c0fefe;
    // text-align: center;
    font-family: helvetica, 'sans serif';
    overflow: hidden;
    // overflow: scroll;
    // font-size: .8em;
    .title {
      font-weight: 700;
      font-style: italic;
      font-size: 1.2em;
      text-align: center;
    }
    .photo {
      // padding-top: 3px;
      // padding-bottom: 10px;
      // padding: 3px 10px;
      width: 100%;
      max-height: 180px;
      overflow: hidden;
    }
    &:hover {
      border-color: #c4c4c4;
    }
  } //end:tile
} //end:spot-container

.center-columns-container {
  margin: 0 auto;
}
// .clearfix:after {
//   content: "";
//   display: table;
//   clear: both;
// }