@import 'variables';

.page-header {
  padding: 20px 0;
  border-bottom: solid 1px rgba($black,.25);
  margin-bottom: 30px;
  line-height: 1;
  font-weight: 300;
}

.spot-show-image{
  padding-left: 8px;
}
