@import 'variables';

.spot-container {
  .spot-tile {
    display: block;
    margin: 0 auto 25px auto;
    height: 400px;
    max-width: 385px;
    background: rgba($color-primary,.2);
    font-family: helvetica, 'sans serif';
    color: $black;
    .name {
      font-family: 'Oswald', sans-serif;
      text-align: center;
      color: $color-tertiary;
    }
    .content {
      padding: 15px;
    }
    .photo {
      height: 180px;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 0 90px rgba(0,0,0,0.3) inset;
    }
    &:hover {
      background: rgba($color-primary,.3);
    }
  }
}
