// Stock Colors:
$white: #ffffff;
$black: #000000;

// Branding colors:
// $color1: rgba(143, 191, 224, 1); //
// $color2: rgba(124, 119, 185, 1);
// $color3: rgba(29, 138, 153, 1);
// $color4: rgba(11, 201, 205, 1);
// $color5: rgba(20, 255, 247, 1);