$white: #ffffff;
$black: #000000;

$color-primary: #8FBFE0;
$color-secondary: #7C77B9;
$color-tertiary: #1D8A99;

$color-body-background: #ededed;

// $color1: rgba(143, 191, 224, 1);
// $color2: rgba(124, 119, 185, 1);
// $color3: rgba(29, 138, 153, 1);
// $color4: rgba(11, 201, 205, 1);
// $color5: rgba(20, 255, 247, 1);

// $color-accent-background:

// background: rgba(143, 191, 224, 1)