// // Fonts:
// $font-primary: Arial, 'Sans Serif';
// $font-secondary: 'Times New Roman', Serif;

// // Custom Colors:
// $color-primary: ?;
// $color-secondary: ?
// $color-primary-accent: ?
// $color-secondary-accent: ?

// // Stock Colors:
$white: #ffffff;
$black: #000000;