// // Fonts:
// $font-primary: Arial, 'Sans Serif';
// $font-secondary: 'Times New Roman', Serif;

// // Custom Colors:
// $color-primary: #ffffff;

// // Stock Colors:
// $white: #ffffff;
// $black: #000000;