
body {
  background-color: black;
  color: green;
}

.tile {
  margin: 20px;
  padding: 8px 30px;
  border: 4px solid gray;
  border-radius: 10px;
  height: 400px;
  width: 280px;
  background-color: #c0fefe;
  text-align: center;
  font-family: helvetica, 'sans serif';
  overflow: scroll;
  font-size: .8em;
}
.show {
  margin: 20px 0px;
  /* padding: 8px 30px; */
  border: 4px solid gray;
  border-radius: 10px;
  color: #c0fefe;
  font-family: helvetica, 'sans serif';
  font-size: .8em;
}
.title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}
.photo {
  padding-top: 3px;
  padding-bottom: 10px;
}

.profile-avatar {
  height: 45px;

}

h1 {
  font-style: italic;
}
a { color: black; }
a:hover { color: gray; }
